In [5]:
import numpy as np
import pandas as pd

In [70]:
dec = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-12-05/visualisations/listings.csv')
nov = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-11-19/visualisations/listings.csv')
octo = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-10-14/visualisations/listings.csv')
sept = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-09-14/visualisations/listings.csv')
aug = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-08-08/visualisations/listings.csv')
july = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-07-08/visualisations/listings.csv')
june = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-06-04/visualisations/listings.csv')
may = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-05-05/visualisations/listings.csv')
april = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-04-05/visualisations/listings.csv')
march = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-03-06/visualisations/listings.csv')
feb = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-02-03/visualisations/listings.csv')
jan = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-01-11/visualisations/listings.csv')

In [71]:
df_list = [jan, feb, march, april, may, june, july, aug, sept, octo, nov, dec]

for x in db_list:
    print(x['price'].describe()['mean'])

196.0366157537723
188.02631157113743
191.82708666527594
199.07614657755244
199.40949365646995
199.5788254867575
211.69943908458603
213.58387111130892
212.99893300137822
216.91029743127535
226.36861536956894
225.84067289719627

In [84]:
price = pd.DataFrame()

In [85]:
def add_columns(df, monthlist):
    names = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
    for ii in range(len(monthlist)):
        df[names[ii]] = monthlist[ii]['price']
    return df

In [86]:
price = add_columns(price, df_list)

In [92]:
price.describe()

,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
count,43342.000000,43342.000000,43143.000000,43342.000000,43342.000000,43342.000000,43342.000000,43342.000000,43342.000000,43342.000000,40899.000000,40125.000000
mean,196.036616,188.151400,191.827087,199.105164,199.811292,199.872479,212.029256,211.480273,213.302709,216.964307,226.368615,225.840673
std,522.801930,430.640424,450.926035,505.128006,500.483294,500.494987,581.518270,581.814268,592.164424,598.882398,652.409791,656.723597
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,69.000000,69.000000,69.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
50%,105.000000,105.000000,105.000000,105.000000,109.000000,109.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000
75%,179.000000,179.000000,179.000000,180.000000,180.000000,180.000000,185.000000,185.000000,185.000000,189.000000,190.000000,189.000000
max,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000