In [2]:
import numpy as np
import pandas as pd

In [3]:
dec = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-12-05/visualisations/listings.csv')
nov = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-11-19/visualisations/listings.csv')
octo = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-10-14/visualisations/listings.csv')
sept = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-09-14/visualisations/listings.csv')
aug = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-08-08/visualisations/listings.csv')
july = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-07-08/visualisations/listings.csv')
june = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-06-04/visualisations/listings.csv')
may = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-05-05/visualisations/listings.csv')
april = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-04-05/visualisations/listings.csv')
march = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-03-06/visualisations/listings.csv')
feb = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-02-03/visualisations/listings.csv')
jan = pd.read_csv('http://data.insideairbnb.com/united-states/ca/los-angeles/2019-01-11/visualisations/listings.csv')

In [39]:
df_list = [jan, feb, march, april, may, june, july, aug, sept, octo, nov, dec]

for x in df_list:
    print(len(x['price']))

43342
43669
43143
43390
43903
44478
44570
44938
44986
44380
40899
40125

In [5]:
jan.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [30]:
price = pd.merge(jan, feb[['id','price']],on='id', how='left', suffixes=['_jan', '_feb'])
price = pd.merge(price, march[['id','price']],on='id', how='left', suffixes=['_feb', '_mar'])
price = pd.merge(price, april[['id','price']], on='id', how='left', suffixes=['_mar', '_apr'])

In [7]:
def add_columns(df, monthlist):
    names = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
    for ii in range(len(monthlist)):
        df[names[ii]] = monthlist[ii]['price']
    return df

In [31]:
price.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price_jan',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'price_feb', 'price_mar', 'price_apr'],
      dtype='object')

In [32]:
price.isna().sum()

id                                   0
name                                 4
host_id                              0
host_name                            2
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price_jan                            0
minimum_nights                       0
number_of_reviews                    0
last_review                       8356
reviews_per_month                 8356
calculated_host_listings_count       0
availability_365                     0
price_feb                         2412
price_mar                         4900
price_apr                         6597
dtype: int64

In [33]:
print(len(price), len(dec))

43342 40125

In [35]:
len(april)

43390

In [37]:
len(dec)

40125

In [34]:
price['id'].isna().sum()

0